body{
    background-color: #000000;
    font-family: Arial, Verdana;
    color: #ffffff;
    margin: 20px 20px 0 20px;
}

h1{
    text-align: center;
    font-size: 42px;
    padding: 15px;
}

h2{
    font-size: 30px;
    color: #0D0D0D
}

p{
    font-size: 24px;
    padding: 10px 0 0 10px;
}

img{
    width: 250px;
    display: block;
    margin: 0 auto;
    border: #ffffff 10px dashed;
}

div{
    min-height: 125px;
    padding: 20px;

}

.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red {
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    padding: 20px;

    border-top: none;                /* No border at the top */
    border-right: none;              /* No border on the right */
    border-bottom: 2px solid #FFFFFF; /* Bottom border */
    border-left: 5px solid #FFFFFF;   /* Left border */
}

.blue {
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    padding: 20px;


    border-top: 2px solid #FFFFFF;    /* Top border */
    border-right: 5px solid #FFFFFF;  /* Right border */
    border-bottom: none;              /* No border at the bottom */
    border-left: none;                /* No border on the left */
}

.blue p, .blue h2{
    color: #C4C4C4;
}

.yellow {
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    padding: 20px;

    border-top: none;                 /* No border at the top */
    border-right: none;               /* No border on the right */
    border-bottom: 2px solid #FFFFFF; /* Bottom border */
    border-left: 5px solid #FFFFFF;   /* Left border */
}


.yellow p{
    color: #707070;
}

.green {
    background-color: #008500;        /* Correct green color */
    text-align: left;
    margin-right: 50px;
    padding: 20px;

    border-top: 2px solid #FFFFFF;    /* Top border */
    border-right: 5px solid #FFFFFF;  /* Right border */
    border-bottom: none;              /* No border at the bottom */
    border-left: none;                /* No border on the left */
}

footer{
    background: linear-gradient(to bottom, #000000, #0000ff 25%, #0066ff 70%, #000000);
    border: 5px solid #FFFFFF;
}

footer p{
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0;
}